<!DOCTYPE html>
<html>
<head>
<title>Payment</title>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body style="text-align:center;font-family:Poppins;padding:50px">

<h2>Pay ₹49 to Download</h2>
<p>{{ file }}</p>

<button id="rzp-button">Pay Now</button>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "4900",
    "currency": "INR",
    "name": "Ranjitham Study Center",
    "description": "Maths PDF Download",
    "order_id": "{{ order_id }}",
    "handler": function (response){
        window.location.href =
        "/success?file={{ file }}&payment_id=" + response.razorpay_payment_id;
    },
    "theme": {
        "color": "#0b5394"
    }
};

var rzp = new Razorpay(options);
document.getElementById('rzp-button').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

</body>
</html>
